{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": ["ie >= 10", "chrome >= 45"]
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ],
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "dva-hmr", {
            "container": ".react-app",
            "quiet": false
          }
        ]
      ]
    }
  },
  "comments": false
}
