@font-face {
  font-family: "fspIconfont";
  src: url('../../static/font/iconfont/iconfont.eot');  /* IE9*/
  src:
    /* IE6-IE8 */
    url('../../static/font/iconfont/iconfont.eot') format('embedded-opentype'),
    /* chrome|firefox */
    url('../../static/font/iconfont/iconfont.woff') format('woff'),
    /* chrome|firefox|opera|Safari|Android|iOS 4.2+*/
    url('../../static/font/iconfont/iconfont.ttf') format('truetype'),
    /* iOS 4.1- */
    url('../../static/font/iconfont/iconfont.svg') format('svg');
}

:global {
  .react-app,
  .ant-modal {
    .iconfont {
      font-family: "fspIconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      vertical-align: middle;
    }
    .icon-beizi:before { content: "\e60b"; }

    .icon-fanhui1:before { content: "\e66d"; }

    .icon-shuju:before { content: "\e600"; }

    .icon-pie:before { content: "\e6c7"; }

    .icon-guanzhu:before { content: "\e631"; }

    .icon-more:before { content: "\e6a7"; }

    .icon-iconfontttpodicon2:before { content: "\e636"; }

    .icon-close:before { content: "\e601"; }

    .icon-shanchu:before { content: "\e62e"; }

    .icon-ge:before { content: "\e61e"; }

    .icon-edit:before { content: "\e686"; }

    .icon-new:before { content: "\e63e"; }

    .icon-shujutongjixinhao:before { content: "\e66e"; }

    .icon-bilv:before { content: "\e61c"; }

    .icon-other:before { content: "\e627"; }

    .icon-tuichu:before { content: "\e643"; }

    .icon-site:before { content: "\e61d"; }

    .icon-wenhao:before { content: "\e60f"; }

    .icon-jia:before { content: "\e62b"; }

    .icon-1:before { content: "\e624"; }

    .icon-yongjin:before { content: "\e632"; }

    .icon-duihao:before { content: "\e675"; }

    .icon-kehutousu:before { content: "\e687"; }

    .icon-juxing23:before { content: "\e657"; }

    .icon-tixing:before { content: "\e65a"; }

    .icon-success:before { content: "\e62a"; }

    .icon-xiazai:before { content: "\e616"; }

    .icon-iconfontzhizuobiaozhun20:before { content: "\e669"; }

    .icon-bar:before { content: "\e720"; }

    .icon-export:before { content: "\e619"; }

    .icon-pdf1:before { content: "\e66f"; }

    .icon-dianhua:before { content: "\e629"; }

    .icon-chanpinyufuwu:before { content: "\e7db"; }

    .icon-jilu:before { content: "\e653"; }

    .icon-fuzhi:before { content: "\e796"; }

    .icon-money:before { content: "\e86d"; }

    .icon-guanli:before { content: "\e8a8"; }

    .icon-shouye:before { content: "\e66b"; }

    .icon-close1:before { content: "\e65f"; }

    .icon-word1:before { content: "\e673"; }

    .icon-fujian1:before { content: "\e634"; }

    .icon-jianhao:before { content: "\e66a"; }

    .icon-yuan:before { content: "\e603"; }

    .icon-fanhuidingbu:before { content: "\e666"; }

    .icon-hetongweiyue:before { content: "\e63b"; }

    .icon-kehu1:before { content: "\e650"; }

    .icon-xuanze:before { content: "\e67b"; }

    .icon-strategy:before { content: "\e670"; }

    .icon-icon-test:before { content: "\e671"; }

    .icon-icon-test1:before { content: "\e672"; }

    .icon-kehu:before { content: "\e602"; }

    .icon-fujian:before { content: "\e63d"; }

    .icon-xiangyou:before { content: "\e62c"; }

    .icon-xiangzuo:before { content: "\e62d"; }

    .icon-xiazai1:before { content: "\e633"; }

    .icon-strategy1:before { content: "\e68d"; }

    .icon-weixin:before { content: "\e62f"; }

    .icon-save_blue:before { content: "\e706"; }

    .icon-ren:before { content: "\e604"; }

    .icon-shangchuan:before { content: "\e640"; }

    .icon-duanxin:before { content: "\e68b"; }

    .icon-zhankai:before { content: "\e652"; }

    .icon-Shape:before { content: "\e637"; }

    .icon-qiandai:before { content: "\e704"; }

    .icon-rili:before { content: "\e605"; }

    .icon-youjian:before { content: "\e630"; }

    .icon-beizhu:before { content: "\e606"; }

    .icon-tishi:before { content: "\e607"; }

    .icon-jianyi:before { content: "\e608"; }

    .icon-guanbi:before { content: "\e609"; }

    .icon-lashenanniu:before { content: "\e60a"; }

    .icon-wenti:before { content: "\e60c"; }

    .icon-xiala:before { content: "\e60d"; }

    .icon-meiyouxiangguanjieguo:before { content: "\e60e"; }

    .icon-excel1:before { content: "\e647"; }

    .icon-xiangxia:before { content: "\e626"; }

    .icon-xiangshang:before { content: "\e628"; }

    .icon-duigou:before { content: "\e611"; }

    .icon-cha:before { content: "\e613"; }

    .icon-gou:before { content: "\e614"; }

    .icon-haoping:before { content: "\e615"; }

    .icon-chaping:before { content: "\e617"; }

    .icon-shubiao:before { content: "\e618"; }

    .icon-tuichu1:before { content: "\e61a"; }

    .icon-jieping:before { content: "\e61b"; }

    .icon-biaoge:before { content: "\e610"; }

    .icon-chanpinxiaoshou:before { content: "\e612"; }

    .icon-kehufuwu:before { content: "\e61f"; }

    .icon-jiaoyiliang:before { content: "\e620"; }

    .icon-dengpao:before { content: "\e621"; }

    .icon-kehuzhibiao:before { content: "\e622"; }

    .icon-shouru:before { content: "\e623"; }

    .icon-yewubanli:before { content: "\e625"; }

    .icon-tianjiafuwujilu:before { content: "\e635"; }

    .icon-chanpinjigou:before { content: "\e638"; }

    .icon-yibanjigou:before { content: "\e639"; }

    .icon-gerenkehu:before { content: "\e63a"; }

    .icon-shouqi:before { content: "\e63c"; }

    .icon-pdf:before { content: "\e63f"; }

    .icon-fanhui:before { content: "\e641"; }

    .icon-excel:before { content: "\e642"; }

    .icon-more-down-copy:before { content: "\e86e"; }

    .icon-wenxintishi:before { content: "\e644"; }

    .icon-dianhua1:before { content: "\e645"; }

    .icon-CSV:before { content: "\e646"; }

    .icon-web-icon-:before { content: "\e70c"; }

    .icon-nvxingtouxiang:before { content: "\e648"; }

    .icon-word:before { content: "\e649"; }

    .icon-excel2:before { content: "\e64a"; }

    .icon-ppt:before { content: "\e64b"; }

    .icon-txt:before { content: "\e64c"; }

    .icon-yinpinwenjian:before { content: "\e64d"; }

    .icon-shipinwenjian:before { content: "\e64e"; }

    .icon-qitawenjian:before { content: "\e64f"; }

    .icon-tupian-:before { content: "\e651"; }

    .icon-tishi1:before { content: "\e655"; }

    .icon-qitakehu:before { content: "\e654"; }

    .icon-fenzu:before { content: "\e656"; }

    .icon-htscred:before { content: "\e658"; }

    .icon-touxiang:before { content: "\e659"; }

    .icon-miaozhunjing:before { content: "\e65b"; }

    .icon-xgnbg:before { content: "\e65c"; }

    .icon-shouqi1:before { content: "\e65d"; }

    .icon-zhankai-:before { content: "\e65e"; }

    .icon-weixuanzhong:before { content: "\e660"; }

    .icon-gouxuan:before { content: "\e661"; }

    .icon-bukexuan:before { content: "\e662"; }

    .icon-bukegouxuan:before { content: "\e663"; }

    .icon-danxuanbukexuan:before { content: "\e664"; }

    .icon-danxuanbukegouxuan:before { content: "\e665"; }

    .icon-danxuanweixuanzhong:before { content: "\e667"; }

    .icon-danxuanxuanzhong:before { content: "\e668"; }

    .icon-tishi2:before { content: "\e66c"; }

    .icon-chakan:before { content: "\e674"; }

    .icon-shuaxin:before { content: "\e676"; }

    .icon-xiazai2:before { content: "\e677"; }

    .icon-wenben:before { content: "\e678"; }
  }
}
